{% extends "bootstrap/base.html" %}
{% block content %}
        <div class="text-center margin-mobile my-4 mx-auto">
            <h1>PokeAPI</h1>
        </div>
    <div class="container d-flex flex-row flex-wrap justify-content-start align-items-center text-center mt-3">
        {% for i in range(pokemon | length) %}
            <div class="col-6 col-md-4 col-lg-3 p-2">
                <span class="pk-li p-3">{{ pokemon[i] }} #{{ i + 1 }}</span>
            </div>
        {% endfor %}
    </div>
{% endblock %}